/* App.css */

/* Basic styling for the App */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: white;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styling for the logo and zoom-in-out animation */
.App-logo {
  width: 200px;
  height: auto;
  animation: zoomInOut 5s infinite;
}

/* Zoom-in and zoom-out animation */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
