/* Overall page styling */
.verification-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1000vh;
  background-color: purple; /* Purple background */
}

/* Container for the form */
.verification-container {
  background-color: white; /* White background for the form */
  border: 2px solid lavender; /* Lavender border */
  padding: 20px;
  width: 40%;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}
.section {
  color: #purple;
}
.section.completed {
  color: #4caf50; /* Green color for completed sections */
}

/* Box styling */
.verification-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Heading style */
h1 {
  color: purple;
  font-size: 24px;
}

/* Verification method buttons */
.verification-method button {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.verification-method button.active {
  background-color: lavender;
}

.verification-method button:hover {
  background-color: #9c27b0;
  color: black;
}

/* OTP Section */
.otp-section {
  margin-top: 20px;
}

.otp-section input {
  padding: 8px;
  width: 80%;
  border: 1px solid lavender;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
}

/* Timer section */
.timer {
  margin-top: 10px;
}

.timer span {
  color: purple;
  font-size: 14px;
}

.resend-btn {
  background-color: white;
  border: none;
  color: black;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.resend-btn:hover {
  background-color: purple;
}

/* Get OTP Button */
.get-otp-btn,
.verify-btn {
  background-color: white;
  border: none;
  color: black;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.get-otp-btn:hover,
.verify-btn:hover {
  background-color: purple;
}
