/* Register4.css */
body {
  background-color: purple; /* Set background color to purple */
  font-family: Arial, sans-serif; /* Set font family */
}

.bank-details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1000vh;
  background-color: purple;
}

.bank-details-container {
  width: 100%;
  max-width: 500px; /* Set max width for the form */
  background-color: white; /* Form window background color */
  padding: 20px;
  border-radius: 25px;

  border: 4px solid #98568d; /* Lavender purple border */
}
.section {
  color: #purple;
}
.section.completed {
  color: #4caf50; /* Green color for completed sections */
}

.bank-details-box h1 {
  text-align: center;
  color: purple; /* Heading color */
}

.bank-details-box h3 {
  text-align: center;
  color: purple; /* Sub-heading color */
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  font-weight: bold;
  color: purple; /* Label color */
  margin-bottom: 5px;
}

.form-field input,
.form-field select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: lightpurple; /* Light purple color for text boxes */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-field input:focus,
.form-field select:focus {
  border-color: lavender; /* Focus border color */
}

.continue-button {
  width: 100%;
  padding: 12px;
  background-color: white; /* Button background color */
  border: 1px solid lavender;
  border-radius: 5px;
  color: purple;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.continue-button:hover {
  background-color: lavender; /* Button hover color */
}
